@import "variables.module";
/* 定义 vue transition 默认切换动画 */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s $ease-out-circ;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* 定义 页面滑动切换 动画 */
// 离开
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(50px);
}
// 进入
.slide-fade-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

/* 定义 渐隐渐显 动画 */
// 离开
.opacity-circ-leave-to {
  opacity: 0;
  transition: opacity 0.2s $ease-out-circ;
}
// 进入
.opacity-circ-enter-from {
  opacity: 0;
  transition: opacity 0.2s $ease-out-circ;
}

/* v-shake 的动画 */
.command-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}